<%= link_to "Conferences", "/conferences" %> | <%= link_to "Teams", "/teams" %>
<hr>

<% @teams.each do |team| %>
  <h2><%= link_to team.school_name, "/teams/#{team.id}" %></h2>
  <p>Mascot: <%= team.mascot %></p>
  <p>Rank: <%= team.rank %></p>
  <p>Private School?: <%= team.private %></p>
  <p><%= button_to "Edit", "/teams/#{team.id}/edit", method: :get %></p>
  <p> <%= button_to "Delete", "/teams/#{team.id}", method: :delete %></p>
<% end %>
