<%= link_to "Conferences", "/conferences" %> | <%= link_to "Teams", "/teams" %>
<h1><%= @team.school_name %></h1>
<p>Mascot: <%= @team.mascot %></p>
<p>Rank: <%= @team.rank %></p>
<p>Private School?: <%= @team.private %></p>

