<h1><%= @conference.name %></h1>
<p>Region: <%= @conference.region %>
<p>National Championships Won: <%= @conference.national_champions %>
<p>Power Five?: <%= @conference.power_five %>
<p>Teams in <%= @conference.name %>: <%= @conference.number_of_teams %></p>

