<%= link_to "Conferences", "/conferences" %> | <%= link_to "Private Schools", "/teams" %> | <%= link_to "#{@conference.name} Teams", "/conferences/#{@conference.id}/teams" %>
<h1><%= @conference.name %></h1>
<p>Region: <%= @conference.region %>
<p>National Championships Won: <%= @conference.national_champions %>
<p>Power Five?: <%= @conference.power_five %>
<p>Teams in <%= @conference.name %>: <%= @conference.number_of_teams %></p>
<p> <%= button_to "Update Conference", "/conferences/#{@conference.id}/edit", method: :get %></p>
<p> <%= button_to "Delete Conference", "/conferences/#{@conference.id}", method: :delete %></p>
