<a href="/teams">Teams</a> &emsp; <a href="/conferences">Conferences</a>
<h1><%= @conference.name %> Teams</h1>
<% @conference.teams.each do |team| %>
  <p>School Name: <%= team.school_name %></p>
  <p>Mascot: <%= team.mascot %></p>
  <p>Rank: <%= team.rank %></p>
  <p>Private School?: <%= team.private %></p>
<% end %>